/* CodeMirror */

.CodeMirror {
  font-size: $default-font-size;
  height: auto;
  text-align: left;
  min-height: auto;
  font-family: $type1;
  line-height: 1.40em;
  padding: 10px;
}
.CodeMirror-scroll {
  min-height: auto;
}