// angular2-datetimepicker

angular2-date-picker {
    .winkel-calendar {
        .wc-date-container {
            height: 45px;
            line-height: 34px;
            border: 1px solid $border-color;
            span {
                @extend .text-muted;
            }
            i {
                line-height: 30px;
                @extend .text-muted;
            }
        }
        .wc-date-popover {
            .wc-banner,
            .wc-details,
            .year-title {
                background: theme-color(primary);
            }
            .calendar-days {
                tr {
                    td {
                        &.selected-day {
                            > span {
                                background: theme-color(primary);
                            }
                            &:hover {
                                > span {
                                    background: theme-color(primary);
                                }
                            }
                        }
                        &.today {
                            > span {
                                border: 1px solid theme-color(primary);
                            }
                        }
                    }
                }
            }
        }
    }
}